<li>
  <%=gravatar_for employee %>
  <%=link_to employee.name, employee %>
  <% if current_employee.admin? && !current_employee?(employee) %>
    | <%=link_to "delete", employee, method: :delete, confirm: "You sure?" %>
  <% end %>
</li>